$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;


// Whites, grays, blacks
$white: #FFFFFF;
$dark-white: #FAFBFC;
$background-gray: #F5F5F5;
$borders-gray: #E6E6E6;
$gray: #B2B2B2;
$dark-gray: #464646;
$light-black: #484848;
$black: #242424;

// App colors
$github-color: #24292E;
$facebook-color: #3B5998;
$twitter-color: #1DA1F2;
$lewagon-color: #D23333;




