// App colors
$papyru-color-1: #FFF3CD;
$papyru-color-2: #FBE7A3;
$papyru-color-3: #EAD69B;
$papyru-color-4: #FEE064;
$papyru-color-5: #FEC74B;
$papyru-color-6: #88543B;
$papyru-color-7: #6B392E;

// Whites, grays, blacks
$white: #FFFFFF;
$white-dark: #FAFBFC;
$gray-lighter: #F5F5F5;
$gray-light: #E6E6E6;
$gray: #B2B2B2;
$gray-dark: #595959;
$gray-darker: #484848;
$black: #242424;

// General colors
$red: #D23333;
$blue: #2F8EED;
$blue-dark: #1F5385;
$yellow: #FEC74B;
$orange: #E67E22;
$green: #2AB27B;

// External app colors
$github-color: #24292E;
$facebook-color: #3B5998;
$twitter-color: #1DA1F2;
$lewagon-color: $red;

