/* Keyframes */
@keyframes gradients {
  0%  {background-position: 0 0;}
  10% {background-position: 20%;}
  20% {background-position: 40%;}
  30% {background-position: 60%;}
  40% {background-position: 80%;}
  50% {background-position: 100%;}
  60% {background-position: 80%;}
  70% {background-position: 60%;}
  80% {background-position: 40%;}
  90% {background-position: 10%;}
  100%{background-position: 0 0;}
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

/* Mixins */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin form-card {
  background-color: $white;
  border-radius: .25rem;
  // box-shadow: 0 0 1px rgba(0,0,0,.25);
  padding: 2rem 2rem 1rem;
  margin: 0 auto 2rem;
  position: relative;
  border: 1px solid $gray-light;
  color: $gray-dark;
}

@mixin grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  &:hover, &:focus, &:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@mixin underline-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    top: 1rem;
    background: $blue;
    opacity: 0.4;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before, &:focus:before, &:active:before {
    right: 0;
  }
}

@mixin reveal($border-width, $border-color) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: $border-color;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 50ms;
    transition-duration: 50ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before, &:focus:before, &:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: $border-width;
  }
}

@mixin gradient-animation($color1, $color2, $timing) {
  background: linear-gradient(45deg, $color1 0%, $color2 100%);
  background-size: 600%;
  background-position: 0 0;
  animation-duration: $timing;
  animation-iteration-count: infinite;
  animation-name: gradients;
}

@mixin bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@mixin hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  &:hover, &:focus, &:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    color: $blue;
  }
}
