.about-us__container {
  width: 80%;
  height: auto;
  background-color: $white;
  padding: 2rem 4rem 26rem 4rem;
  top: 4rem;
  margin: 4rem auto;
  border: 1px solid $gray-light;
  color: #505050;
}

.section__container {
  text-align: center;

  .section__headline {
    font-family: "Varela Round", sans-serif;
    font-size: 6.3rem;
    color: $blue-dark;
    padding-top: 1rem;
  }

  .section__picture {
    margin: 4rem 0;
    width: 80%;
  }

  .section__paragraph {
    font-size: 1.7rem;

    span {
      color: $blue;
    }

    a {
      color: $blue;
      transition: 300ms;
    }
  }
}

ul.c-teams {
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  border: 1px solid transparent;
}

h4.c-teams__headline {
  color: $blue-dark;
  font-size: 3.2rem;
  padding-top: 2rem;
  padding-left: 2rem;
}

li.c-team {
  font-family: "Varela Round", sans-serif;
  list-style: none;
  margin: 1rem 0 0.5rem;

  &:first-child {
    padding-top: 1rem;
  }
}

span.c-team__username {
  cursor: pointer;
  font-weight: 500;
  position: relative;
  font-size: 1.8rem;
  padding: 1rem 0;
  max-width: 40%;

  &:hover {
    text-decoration: underline;
  }
  &:last-child {
    padding: 1rem 0 0 0;
  }
  &::after {
    white-space: nowrap;
    font-weight: 300;
    padding-left: 0.5rem;
    opacity: 0;
    -webkit-transform-origin: 1rem;
    transform-origin: 1rem;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    display: none;
  }
}

.c-team--active .c-team__username {
  color: $blue;

  &::after {
    opacity: 1;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    display: inline-block;
  }
}

div.c-team__card {
  font-weight: 500;
  -webkit-transition: ease 0ms;
  transition: ease 0ms;
  font-size: 1.4rem;
  color: #505050;
  opacity: 0;
  min-height: 41rem;

  span {
    border-bottom: 0.4rem solid $blue;
  }
}

.c-team--active .c-team__card {
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  -webkit-transition: ease 0ms;
  transition: ease 0ms;
  border: 1px solid transparent;
  border-top: 1px solid $blue;
  padding: 2rem;
}

.c-team__picture {
  width: 12rem;
  height: auto;
  border-radius: 100%;
  border: 0.4rem solid $blue-dark;
  margin: auto;
  margin-bottom: 3rem;
  @include bob;
  display: block;
  transition: 300ms;

  &:hover {
    border: 0.4rem solid $blue;
  }
}

.c-team__paragraph {
  font-size: 1.6rem;
  padding: 0 1rem;
  font-weight: 400;
  line-height: 150%;

  strong {
    color: $blue;
  }
}

.thumbnail-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 2rem 0;

  a {
    color: $gray-light;
    text-decoration: none;
    font-size: 4rem;
    padding: 0 2rem;
  }
}

.social-icon {
  transition: 500ms;
}

.github-icon:hover {
  color: $github-color;
}

.linkedin-icon:hover {
  color: #0077B5;
}

@media (min-width: 780px) {
  .c-teams {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .c-teams::before {
    opacity: 0.2;
  }

  .c-team {
    margin: 1.5rem 0;
  }

  .c-team .c-team__username {
    width: 50%;
    padding-right: 4rem;
    display: inline-block;
  }

  .c-team .c-team__card {
    position: absolute;
    left: 40%;
    width: 60%;
    border-left: 0.2rem solid $blue;
    border-top-color: transparent;
  }
}
