@import url('https://fonts.googleapis.com/css?family=Catamaran');

.main {
  background: $white;
  height: calc(75vh);
  padding: 2rem 4rem;
  display: table;

  .table-row {
    float: none;
    display: table-cell;
  }

  /* Header */
  .header-container {
    vertical-align: middle;

    h1 {
      color: $blue-dark;
      font-size: 7.4rem;
      margin-bottom: 25px;
    }

    p {
      color: $gray-dark;
      font-size: 1.7rem;
      letter-spacing: 0rem;
      line-height: 150%;
      margin-bottom: 25px;
    }

    .btn {
      font-size: 1.6rem;
      margin-bottom: 10px;
      padding: 2rem 4rem;
      background-color: $blue;
      transition: ease-out 150ms;

      &:hover {
        background-color: $blue-dark;
      }
    }

    .sign-in {
      font-size: 14px;

      a {
        font-size: 15px;
      }
    }
  }

  /* Picture */
  .picture-container {
    vertical-align: middle;
  }
}

.supporting {
  background: $gray-lighter;
  padding: 4rem 0;

  h2 {
    color: $blue-dark;
    margin-bottom: 1.8rem;
    font-size: 3.4rem;
  }

  p {
    color: $gray-dark;
    margin-bottom: 2.6rem;
    font-size: 1.6rem;
  }

  .btn {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 1.8rem 3.6rem;
    background-color: $white;
    border: 1px solid $blue-dark;
    color: $blue-dark;
    @include reveal(1.6px, $blue-dark);

    &:active {
      background-color: $white;
      border: 1px solid $blue-dark;
      color: $blue-dark;
    }
  }
}

.features {
  margin: 4rem 0;

  .device-container {
    margin: 0 auto;

    .device-picture {
      width: 100%;
    }
  }

  .feature-item {
    padding: 4rem 0;
    text-align: center;

    h3 {
      font-size: 2.6rem;
      color: $gray-dark;
    }

    p {
      font-size: 1.5rem;
      color: $gray-dark;
    }

    i {
      font-size: 8rem;
      display: block;
      margin-bottom: 1.6rem;
      background: -webkit-linear-gradient(to left, $blue-dark, $blue);
      background: linear-gradient(to left, $blue-dark, $blue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.email-supporting {
  padding: 2rem;
  color: $gray-dark;

  h3 {
    color: $blue-dark;
    font-size: 2.8rem;
  }

  p {
    font-size: 14px;

    a {
      font-size: 15px;
    }
  }
}

@media (min-width: 992px) {
  .features .device-container {
    margin-bottom: 0;
  }
}
