.container-notification {
  margin-top: 20px;
}

.card-notification {
  border: 1px solid black;
  background-color: #dfdfdf;
  padding: 15px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.notification-index {
  font-size: 20px;
  text-transform: uppercase;
}

.card-body{
  font-size: 35px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
