<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row notifications-card">
        <div class="col-xs-10 col-xs-offset-1">

          <div class="notifications-card-header">
            <div class="notifications-header-content row">
              <div class="col-xs-5">
                <h1>Archive</h1>
              </div>
              <div class="col-xs-5 pull-right">
                <p style="padding-top: 1.6rem; display: inline;" class="pull-right"><%= link_to "Go to Unread Notifications", notifications_path, class: "header-link" %>&nbsp;&nbsp;&nbsp;&nbsp;</p>
              </div>
            </div>
          </div>
            <%= render 'notifications_list', notifications: @notifications_read %>
        </div>
      </div>
    </div>
  </div>
</div>

