.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
  filter: opacity(120%);
  margin-left: 12px;
  position: relative;
}

.avatar:hover {
  cursor: pointer;
}

.avatar:active {
  top: 1px;
}

h3 a {
  color: $papyru-color-5;

  &:hover {
    color: $papyru-color-4;
  }
}

.go-back {
  color: $papyru-color-4;

  &:hover {
    color: $papyru-color-4;
  }
}
