.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
  filter: opacity(120%);
  margin-left: 12px;
  position: relative;
}

.avatar:hover {
  cursor: pointer;
}

.avatar:active {
  top: 1px;
}

h3 a {
  color: $papyru-color-5;
  transition: 300ms;

  &:hover {
    color: $papyru-color-4;
  }
}

.go-back {
  color: $papyru-color-4;

  &:hover {
    color: $papyru-color-4;
  }
}

.add-links {
  color: $white;
  cursor: pointer;
  position: relative;
  transition: 200ms;
  font-size: 1.5rem;
  margin-bottom: 2rem;

  .fa-plus-circle {
    color: $green;
    font-size: 1.5rem;
    margin-left: 0.1rem;
  }

  .fa-pencil-square-o {
    color: $orange;
  }

  .fa-commenting-o {
    color: $twitter-color;
  }

  &:hover {
    left: 1rem;
  }
}

.message-container {
  padding-bottom: 1.5rem;
}

.threads-nav-2 {
  margin-top: 3rem;

  h4 {
    font-size: 2.1rem;
    color: $papyru-color-5;
  }

  p {
    font-size: 1.7rem;

    a {
      color: $white;
      transition: 300ms;

      &:hover {
        color: $papyru-color-4;
      }
    }
  }
}

.new-message-link {
  font-size: 1.6rem;
  color: $blue;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    color: $green;
  }
}
