<div class="modal fade" id="study-modal" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= render 'shared/form_study' %>
    </div>
  </div>
</div>
