<div class="exercise-card">
  <div class="card-category">ExerciseS</div>
  <div class="card-description">

  </div>
  <img class="card-exercise-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8I5VcrQij-e42owgdy54XmHoW5JpJnwFlFW-qKRVHC3BM9Yt5">
  <a class="card-exercise-link" href="#" ></a>
</div>
