  <div class="card">
    <div class="card-category">Exercises</div>
    <div class="card-description"></div>
      <img class="card-img" src="https://abx-static.s3-us-west-2.amazonaws.com/886671/previews/poster.jpg">
    <%= link_to '', new_user_session_path, class: 'card-link' %>
  </div>







