<footer class="footer-bottom-section flex-rw">
  <div class="footer-bottom-wrapper">
    <i class="fa fa-copyright" role="copyright"></i>
    2017 Papyru<span class="footer-bottom-rights"> - Coded in <address class="footer-address" role="company address">Lisbon</address> for &nbsp;<%= link_to "http://www.lewagon.com/lisbon", class: "footer-wagon-logo" do %><%= image_tag("logo_wagon.png", alt: "Le Wagon", width: "100rem") %><% end %></span>
  </div>
  <div class="footer-bottom-wrapper">
    <a href="#" class="generic-anchor" rel="nofollow">Terms</a> | <a href="#" class="generic-anchor" rel="nofollow">Privacy</a>
  </div>
</footer>
