<div class="container-fluid" style="background: #F5F5F5;">
  <div class="row form-card">
    <div class="form-card-header text-center">
      <h1>Add a New Thread to <%= @subject %></h1>
      <p><span>Add a specific thread</span> to your class.</p>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <div class="form-card-content">
        <%= simple_form_for [@study, Channel.new] do |f| %>
          <div class="input">
            <%= f.input :name, required: true, label: false, autofocus: true, input_html: { type: "name", placeholder: "Thread Name" } %>
            <span><i class="fa fa-graduation-cap"></i></span>
          </div>
          <br>

          <div class="form-actions">
            <%= f.submit "Add +", class: 'btn submit-btn' %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
 </div>

