<div class="modal fade bd-example-modal-lg newchannel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <%= render 'shared/form_channel' %>
    </div>
  </div>
</div>
