<div class="modal fade newmessage" id="newmessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <%= render 'shared/form_new_message' %>
    </div>
  </div>
</div>

