<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#channel-bar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Channels</a>
    </div>
    <div class="collapse navbar-collapse" id="channel-bar">
      <ul class="nav navbar-nav">
        <% @channels.each do |channel| %>
          <li><%= link_to channel.name, channel_path(channel) %></li>
        <% end %>
        <% if current_user.teacher? %>
          <li><%= link_to "New channel", new_study_channel_path(@study), class: "btn btn-primary" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
