<div class="sidebar">

  <h3><%= @subject %> Channel</h3>

  <% if current_user.teacher? %>
    <a data-toggle="modal" data-target=".example-modal-lg" class="add-links"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1.9rem; margin-right: 0.4rem; margin-bottom: 1rem;"></i> New thread</a><br/>
    <a data-toggle="modal" data-target="#addstudents" class="add-links"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Add students</a>
  <% end %>

  <div class="threads-nav">
    <h4>Threads</h4>
    <% @channels.each do |channel| %>
      <p id="thread-name"><%= link_to channel.name, channel_path(channel) %></p>
    <% end %>
  </div>

</div>
