.notifications-card {
  @include form-card;
  font-family: "Lato", sans-serif;
  margin-top: 4rem;
  padding-bottom: 3rem;
}

.notifications-card-header {
  .notifications-header-content {
    border-bottom: 1px solid $gray;
  }

  h1 {
    font-size: 2.6rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin: 0 0 1rem;
    color: $blue-dark;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  p {
    font-size: 1.3rem;
    color: $blue-dark;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  .header-link {
    color: $blue-dark;
    display: inline;
  }

  .header-link:hover {
    text-decoration: underline;
    color: $blue-dark;
  }
}

.notifications-card-content {
  .notifications-body-content {
    padding: 2rem 0;
    border-bottom: 1px solid $gray-light;
  }

  .teacher-avatar-container {
    text-align: center;
  }

  .teacher-avatar {
    margin-top: 0.4rem;
    height: 4rem;
    width: 4rem;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
    filter: opacity(120%);
  }

  .teacher-avatar:hover {
    cursor: pointer;
  }

  .notification-user {
    color: $blue;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .notification-channel {
    color: $blue-dark;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .notification-date {
    color: #999;
    font-size: 1.1rem;
  }

  .notification-message {
    padding: 0.5rem 0;
    font-size: 1.7rem;
    //border-left: 0.25em solid $blue-dark;
    color: $github-color;

    &:before, &:after {
      content: '\201C';
    }

    &:after {
      content: '\201D';
    }
  }
}

form {
  margin: 40px 0 20px 0;
}
