<div class="container container-about-us">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="col-md-4">
        <div class="thumbnail thumbnail-style">
          <img class="image-profile" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/yfnsdqkamwrr1s8mpkfm.jpg" alt="Francisco Azevedo">
          <div class="caption caption-style">
            <h3>Francisco Azevedo</h3>
            <p>I'm currently studying business and IT's. I want do be a developer and be able do create my own products. And after Le Wagon I want to work in a StartUp.</p>
          </div>
            <div class="thumbnail-links">
              <a href="https://github.com/franciscoovazevedo" target="_blank" class="social-icon github-icon"><i class="fa fa-github"></i></a>
              <a href="https://www.linkedin.com/in/francisco-azevedo-482322144/" target="_blank" class="social-icon linkedin-icon"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail thumbnail-style">
          <img class="image-profile" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/wlebdl90gtmmbklz7abi.jpg" alt="Gabriele Canepa">
          <div class="caption">
            <h3>Gabriele Canepa</h3>
            <p>I have studied Management Engineering and been teaching Mathematics and Physics to middle and high school students for over 4 years.
              Some time ago I tried to set up a website to let students, tutors and teachers of my town connect with each other, organise their private lessons and exchange material, but I had to abandon the idea because doing it with a drag-and-drop website and with no coding experience was quite impossible.
              So now I'm here to really learn how to code, hoping to realise all the projects I have in mind!
            </p>
            </div>
            <div class="thumbnail-links">
              <a href="https://github.com/gabrielecanepa" target="_blank" class="social-icon github-icon"><i class="fa fa-github"></i></a>
              <a href="https://www.linkedin.com/in/gabrielecanepa/" target="_blank" class="social-icon linkedin-icon"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail thumbnail-style">
          <img class="image-profile" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/auigwptfjhfdaptu8xj0.jpg" alt="Manuel Sepúlveda">
          <div class="caption">
            <h3>Manuel Sepúlveda</h3>
            <p>I'm a studying informatic engineering in ISCTE, Lisbon, and i'm a rugby player and rugby coach in a local club near Belém!
              I wanted to learn how to code so that i could start working as a web developer as soon as possible!</p>
            </div>
          <div class="thumbnail-links">
            <a href="https://github.com/ManuelSep" target="_blank" class="social-icon github-icon"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/manuel-sep%C3%BAlveda-a9836b144/" target="_blank" class="social-icon linkedin-icon"><i class="fa fa-linkedin"></i></a>
          </div>
          </div>
        </div>

      </div>
    </div>
  </div>
