<div class="container-fluid">
  <div class="row main">
    <div class="col-xs-12 col-md-5">
      <h1>Making education easier</h1>
      <p>When you need to prepare an exam, ask your teachers a new question, download some useful file, receive a communication, or simply plan your next step through your studies, Papyru is going to help you.</p>
      <div class="btn btn-primary">GET STARTED</div>
      <p class="sign-in">Already have an account? <%= link_to t(".sign_in", default: "Sign in"), new_user_session_path %></p>
    </div>

    <div class="hidden-xs hidden-sm col-md-1"></div>

    <div class="col-xs-12 col-md-5">
      <%= image_tag("bg-home.jpg", width: "100%", alt: "Papyru", class: "main-picture") %>
    </div>
  </div>

  <div class="row features text-center">
    <h2>You're study experience is ready to change</h2>
    <p>Millions of people around the world have already made Papyru the place where their studies happens.</p>
    <div class="btn btn-primary">DISCOVER MORE</div>
  </div>

  <div class="row supporting">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3>Try it now for free</h3>
      <p>Already using Papyru? Sign in.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
      <form>
        <input type="email" style="margin-top: 20px;"></input>
      </form>
    </div>
  </div>

  <div class="row" style="background-color: red;">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <%= image_tag("http://res.cloudinary.com/gabrielecanepa/image/upload/v1503502488/logo-web.png", size: "32") %>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </div>
  </div>

  <div class="row footer" style="height: 100px; background-color: green;">
  </div>

</div>

