<div class="container">
  <div class="row">
  <h1 class="title-why" style="display: flex; justify-content: center;">Why?</h1>
  <div class="col-xs-8 col-xs-offset-2">
  <div class="column-text">
    <h3>Target:</h3>
    <p style="line-height: 1.8; font-size: 15px;">Universities, students and Teachers.</p>
    <h3>Pain:</h3>
    <p style="line-height: 1.8; font-size: 15px;">The current online relation between professors-students-Universities from the "from the last century" builds walls and destroys the enviorment between them. Platforms are not user-friendly witch drives Teachers to stay far from the students concerns and Students to lose interest in their obligations.</p>
    <h3>Solution:</h3>
    <p style="line-height: 1.8; font-size: 15px;">Avoiding to jeopardise one of the most essential tasks of the studentes and teachers that is to learn and teach we came up with Papyru. Papyru makes a user-friendly platform that captivates all the platform users to, not only to use it but to enjoy their work while interacting with the platform. Finnaly and very important the platform saves a lot of time both to students and teachers, time that can be use for so many useful things.</p>
    </div>
    </div>
  </div>
</div>
