<div class="container">

  <h1>Because everything else suck!</h1>

  <p>It simplifies communication

    Slack brings all your team's communication together, giving everyone a shared space where conversations are organized and accessible.

    Learn more about messaging

    The fact that Slack exists and is such an essential tool, it's really helped us with scaling and still feeling connected to one another across remote offices and remote teams.

    Lisa Madokoro, Culture Specialist at Shopify</p>

    <p>It helps everyone find the answers they need

      You don’t have to go to every meeting to stay informed. Slack builds a searchable archive of your team’s conversations, decisions, and work — made more useful with machine learning — putting knowledge in everyone’s hands.

      Learn more about archive and search

      The fantastic thing about Slack is transparency. Everyone can see what everyone else is working on and the status of things is much more visible

      Clifford Bailey, Head of Technology at Ocado</p>
    </div>
