 <h4><a href="#"><%= document.name %></a> <%= image_tag("http://www.dilekceornegi.org/wp-content/uploads/2015/01/pdf-logo.png", size: "32") %></h4>
 <p style="font-size: 12px; text-align: right;">Posted on <%= l document.created_at %></p>
