.fix-navbar {
  position: fixed;
  width: 100%;
}

.page-content {
  position: absolute;
  right: 0;
  top: 70px;
  width: 80%;
  z-index: -1;
  margin-top: 3rem;
  overflow-y: auto;

  h3 {
    color: $blue-dark;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $gray;
    font-weight: bold;
  }

  h4 {
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }

  h5 {
    font-size: 2rem;
  }

  .message-container {
    border-bottom: 1px solid $gray-light;
    padding-top: 1rem;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .message-content {
    color: $gray-darker;
  }

  .message-posted-at {
    color: $gray-dark;
  }
}

.tabs-container {
  border-bottom: 1px solid $gray-light;
  padding: 2rem 0;

  &:last-child {
    border-bottom: none;
  }
}
