<div class="container">
  <div class="row header text-center">
    <h1>Welcome back <%= current_user.name %>!</h1>
    <% unless  @notifications_number == 0 %>
      <h3>You have <span><%= @notifications_number %> notifications to see</span></h3>
    <% end %>

  </div>

  <div class="row content">

    <% current_user.studies.each do |study| %>
      <div class=" col-xs-6 col-sm-4 col-md-3">
        <div class="column-center">
          <%= render "shared/card_subjects", study: study %>
        </div>
      </div>
    <% end %>

    <% if current_user.teacher? %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="subject-card">
          <div class="text-center">
            <img class="card-add-sign" style="width: 8rem; height: auto;" src="http://res.cloudinary.com/gabrielecanepa/image/upload/v1503671154/noun_6155_zrhzab.png">
          </div>
          <%= link_to '', new_study_path, class: 'subject-card-link' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
</div>
