.header {
  margin: 40px auto;
  color: #464646;
}

.header h1 {
  font-size: 48px;
}

.header h3 span {
  border-bottom: 6px solid $papyru-color-3;
}

.subject-card {
  position: relative;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 175px;
  width:175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: #6B392E;
  border-radius: 50%;
  background: url('https://abx-static.s3-us-west-2.amazonaws.com/886671/previews/poster.jpg') no-repeat center center;

}

.subject-card:hover {
  bottom: 5px;
}

.subject-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  border-radius: 50%;
}

.strokeme{

  text-shadow:
  -1px -1px 0 #FFF,
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
}
