.footer-distributed {
  background-color: $blue;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: normal 1.5rem sans-serif;
  text-align: left;
  padding: 5rem 6rem 3rem;
  overflow: hidden;
}

/* Footer left */
.footer-distributed .footer-left{
  float: left;
}

/* Logo */
.footer-logo {
  width: 12rem;
  margin-bottom: 1.5rem;
  @include grow;
}

/* Links */
.footer-distributed .footer-links {
  color: $white;
  margin: 0 0 1rem;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;

  &:hover {
    text-decoration: underline;
  }
}

.footer-distributed .footer-company-name {
  color:  $gray-lighter;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  padding: 0;

  .wagon-logo {
    width: 10rem;
    @include grow;
  }
}

/* Social icons */
.footer-distributed .footer-icons {
  margin-top: 3rem;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: $blue-dark;
  border-radius: 4px;
  font-size: 2rem;
  color: $white;
  text-align: center;
  line-height: 3.5rem;
  margin-right: 0.4rem;
  margin-bottom: 0.5rem;
}

/* Footer Right */
.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right span {
  color: $blue-dark;
  font-size: 4rem;
  padding-top: 1rem;
  padding-right: 1rem;
  @include bob;
}

/* The contact form */
.footer-distributed form {
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:  $white-dark;
  border: 1px solid $gray-dark;
  resize: none;
  font: inherit;
  font-size: 1.4rem;
  font-weight: normal;
  color: $black;
  width: 40rem;
  padding: 2rem;

  &:active, &:focus {
    box-shadow: none;
    border: 1px solid $blue-dark;
    outline: none;
  }
}

.footer-distributed::-webkit-input-placeholder {
  color: $gray-dark;
}

.footer-distributed::-moz-placeholder {
  color: $gray-dark;
  opacity: 1;
}

.footer-distributed::-ms-input-placeholder {
  color: $gray-dark;
}

.footer-distributed form input {
  height: 3rem;
  margin-bottom: 1.5rem;
}

.footer-distributed form textarea {
  height: 6rem;
  margin-bottom: 1.5rem;
}

.footer-distributed form button {
  border-radius: 4px;
  background-color: $blue-dark;
  color: $white;
  border: 0;
  padding: 1rem 3rem;
  float: right;
}

/* Media queries */
@media (max-width: 1000px) {
  .footer-distributed {
    font: normal 1.4rem sans-serif;
  }

  .footer-distributed .footer-company-name {
    font-size: 1.2rem;
  }

  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 25rem;
  }

  .footer-distributed form button {
    padding: 1rem 3.5rem;
  }
}
@media (max-width: 800px) {
  .footer-distributed{
    padding: 3rem;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 30rem;
    margin: 0 auto;
  }

  .footer-distributed .footer-left {
    margin-bottom: 4rem;
  }

  .footer-distributed form {
    margin-top: 3rem;
  }

  .footer-distributed form {
    display: block;
  }

  .footer-distributed form button {
    float: none;
  }
}
