.footer {
  height: 50vh;
  padding: 5rem;
  background-color: #FFF;

  img {
    width: 6rem;
  }

  .list-container {
    h4 {
      font-size: 1.6rem;
      color: $blue-dark;
      letter-spacing: 0.1rem;
    }

    li {
      list-style-type: none;

    }
  }
}
