.papyru-title {
  font-size: 18px;
  font-family: 'GFS Didot', serif;
  color: #19306e;
  position: relative;
  left: -355px;
}

.navbar-wagon {
  background: white;
  transition: all 0.3s ease;
  height: 7rem;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray-light;
}

.navbar-wagon-brand img {
  height: 4rem;
  position: relative;
  cursor: pointer;
}

.navbar-wagon-brand img:active {
  top: 0.2rem;
}

.navbar-wagon .avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
  filter: opacity(120%);
  margin-left: 12px;
  position: relative;
}

.navbar-wagon .avatar:hover {
  cursor: pointer;
}

.navbar-wagon .avatar:active {
  top: 0.2rem;
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-link {
  cursor: pointer;
  padding: 0 2rem;
  color: #484848;
  font-size: 1.5rem;
}

.navbar-wagon-link:link, .navbar-wagon-link:visited, .navbar-wagon-link:hover, .navbar-wagon-link:active {
  text-decoration: none;
  color: #484848;
}

.navbar-wagon-mobile-link {
  padding: 0 1rem;
}

.navbar-wagon-link span {
  position: relative;
  transition: 100ms ease-out;
}

.navbar-wagon-link span:hover {
  color: #484848;
  text-decoration: none;
  border-bottom: 0.4rem solid $blue;
}

.navbar-wagon-link span:active {
  top: 1px;
}

#navbar-login {
  color: $blue;
  position: relative;
  border: 1px solid $blue;
  border-radus: 4px;
  line-height: 1;
  margin-left: 1.8rem;
  padding: 1rem 3rem;
  transition: border 420ms, color 200ms;
}

#navbar-login:hover {
  color: #1F5385;
  border-color: #1F5385;
}

#navbar-login:active {
  top: 1px;
}

.navbar-wagon-dropdown-menu {
  margin-top: 14px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  padding: 0 20px;
  border-radius: 4px;
}

.navbar-wagon-dropdown-menu li > a {
  transition: 0.3s;
  color: #767676;
  font-size: 1.4rem !important;
  line-height: 22px !important;
  padding: 15px 100px 15px 0;
  border-bottom: 1px solid #F2F2F2;

  &:hover, &:active, &:focus, &:after {
    color: $blue-dark;
    background: transparent !important;
    border-bottom: 1px solid #484848;
  }
}

.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

#color-dropdown-link {
  color: $blue;
  border-bottom: 1px solid $blue;
}
