#sidebar {
  background-color: $papyru-color-3;
  position: fixed;
  left: 0px;
  top: 70px;
  bottom: 0px;
  text-align: center;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
  margin: 50px 0;
}

#sidebar a {
  text-decoration: none;
  font-size: 18px;
  color: $white-dark;
}

#sidebar a:hover {
  color: $white;
  cursor: pointer;
}

