.sidebar {
  background-color: $blue-dark;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  overflow-y: scroll;
  width: 20%;
  padding: 0 2rem;
  z-index: 1;

  h3 {
    color: $papyru-color-5;
    margin-bottom: 1rem;
  }

  .add-links {
    color: $white;
    cursor: pointer;
    position: relative;
    transition: 200ms;
    font-size: 1.5rem;
    margin-bottom: 2rem;

    .fa-plus-circle {
      color: $green;
      font-size: 1.5rem;
      margin-left: 0.1rem;
    }

    .fa-graduation-cap {
      color: $black;
    }

    &:hover {
      left: 1rem;
    }
  }

  .threads-nav {
    margin-top: 4rem;

    h4 {
      font-size: 2.1rem;
      color: $papyru-color-5;
    }

    p {
      font-size: 1.7rem;

      a {
        color: $white;
        transition: 300ms;

        &:hover {
          color: $papyru-color-4;
        }
      }
    }
  }
}
